.App {
  text-align: center;
  margin: auto;
  padding: 30px;
}

label {
  font-size: 20px;
  font-weight: 500;
}

input {
  margin-right: 20px;
  height: 30px;
  padding: 0 20px 0 20px;
}

.start-button {
  color: white;
  background-color: green;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
}

.update {
  font-size: 20px;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.count-down {
  font-size: 120px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 1opx;
}

.play-pause {
  height: 50px;
  margin-left: 20px;
}

.icon {
  font-size: 50px;
}

.almost-over {
  color: red;
}

.blinking {
  color: red;
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.speed-button {
  border-width: 1px;
  border-color: black;
  background-color: white;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px 20px;
}

.selected {
  background-color: black;
  color: white;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
